html {
    font-family: Calibri, sans-serif;
    width: 8.5in;
    /* height: 11in; */
    margin: auto; 
    /* font-weight: lighter; */
}

body {
    margin: 0;
    text-align: justify;
}

p {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 1.75em;
    font-weight: normal;
}

b {
    font-weight: bold;
}

a {
    margin-top: 0.5em;
    margin-bottom: 0;
    color: black;
}

h1 {
    position: relative;
    top: -.1em;
    margin: 0;
    font-size: 2.72em;
    font-weight: lighter;
}

h2 {
    margin-top: 0.7em;
    margin-bottom: 0.4em;
    border-bottom: black solid 1px;
    font-weight: lighter;
    font-size: 1.6em;
}

h3 {
    margin-top: 0em;
    margin-bottom: 0;
    font-size: 1.25em;
    font-weight: bold;
}

h4 {
    text-align: left;
    font-size: 1em;
    margin-top: .3em;
    margin-bottom: 0;
    font-weight: normal;
}

h5 {
    margin-top: 0;
    margin-bottom: 0em;
    font-style: italic;
    font-weight: lighter;
}

h6 {
    margin-top: .6em;
    margin-bottom: 0;
    font-style: italic;
}

.flex {
    display: flex;
    gap: 2em;
}

#content {
    margin-top: -1em;
}

#experience {
    flex: 1;
    
}

#skills {
    width: 285px;
}

#name {
    align-self: flex-start;
}

#aboutme {
    align-self: flex-start;
}

#contact {
    margin-top: 0.5em;
    align-self: flex-start;
    flex: 1;
}

#contact h4, #contact a {
    margin: 0;
    margin-bottom: .15em;
    text-align: right;
    text-decoration: none;
    font-weight: lighter;
}

#contact svg {
    position: relative;
    bottom: .2em;
    width: 1em;
    margin-left: .25em;
    display: inline;
    vertical-align: text-bottom;
}

#degree {
    margin: 0;
    text-align: left;
}

#publications {
    text-align: left;
}

.citation {
    font-size: 12px;
}